/*
Paleta Colores
    amarillo: #ffc107
    azul_steam:#2A475E
    azul_oscuro_steam:#1B2838
*/


header {
    background-image: url("../img/bg-gamer.png");
}

.carrusel {
    padding: 0;
    border-radius: 10px;
}


.btn-carrusel:hover {
    background-color: rgba(0, 0, 0, 0.25);

}


#list_games_home {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
    grid-gap: 1rem;
    justify-items: center;
}

.card-game {
    width: 18rem;
    border-radius: 10px;
}


.card-game a {
    text-decoration: none;
}

.card-game {
    img {
        max-height: 180px;
    }
}

.card-game:hover {
    img {

        transform: scale(1.05);
    }
}

.card-game .card-body div {
    display: flex;
    justify-content: center;
}

.text-card {
    text-align: center;
    padding: 0.1rem 2rem;
    display: inline-block;
    margin: 0;
}

.text-card-title {
    color: white;
    background-color: #2A475E;
}

.text-card-price {
    color: green;
    background-color: #A1CD44;
}


.text-footer {
    color: white;
}

.title-category {
    color: white;
}